.formulate-input {
  position: static;
  width: 166px;
  height: 56px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 16px 0px;
  font-family: 'Work Sans', sans-serif;
}

.formulate-input .formulate-input-label {
  display: block;
  line-height: 1.5;
  font-size: 0.9em;
  font-weight: 600;
  margin-bottom: 0.1em;
}
.formulate-input
  .formulate-input-label--before
  + .formulate-input-help--before {
  margin-top: -0.25em;
  margin-bottom: 0.75em;
}
.formulate-input .formulate-input-element {
  max-width: 20em;
  margin-bottom: 0.1em;
}

.formulate-input .formulate-input-errors {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.formulate-input .formulate-input-error {
  color: #FF3838;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  left: 4.6%;
  right: 43.97%;
  top: 107.14%;
  bottom: -28.57%;
  
}
.formulate-input:last-child {
  margin-bottom: 0;
  border: none;
}
.formulate-input[data-classification="text"] input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 155.78px;
  height: 52.55px;
  position: static;
  border-radius: 4px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  background-color: transparent;
  font-size: 0.9em;
 
  padding: 0.75em;
  display: block;
  width: 100%;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0;
  position: relative;
  font-family: 'Work Sans', sans-serif;}
.formulate-input[data-classification="text"] input::placeholder {
  position: absolute;
  left: 0%;
  right: -92%;
  top: 0%;
  bottom: 0%;
  
  font-family: 'Work Sans', sans-serif;  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;  
  letter-spacing: -0.06em;
  
  
}
.formulate-input[data-classification="text"] input:focus {
  outline: 0;
  border: 1px solid #2e2d2d;
}



.formulate-input[data-classification="button"] button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0em;
  box-sizing: border-box;
  font-size: 0.9em;
  font-family: "WorkSans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.06em;
  font-weight: 700;
  font-size: 16.89px;
  font-family: 'Work Sans', sans-serif;
  padding: 0.75em;
  display: block;
  width: 348px;
  height: 56px;
  left: 30.03px;
  top: 603.42px;
  
  line-height: 1.2em;
  border: 1px solid #E0E0E0;
  background-color: #242424;
  color: #fff;
  min-width: 0;
  font-weight: 700;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}



.formulate-input[data-classification="box"] .formulate-input-wrapper {
  display: flex;
  align-items: center;
  background: rgba(96, 196, 159, 0.1);
  border: 1px solid #60C49F;
  box-sizing: border-box;
  border-radius: 0px;
  position: static;
  width: 166px;
  height: 56px;
}
.formulate-input[data-classification="box"] .formulate-input-element {
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: red;
  
}
.formulate-input[data-classification="box"] .formulate-input-element input {
  position: absolute;
  left: -999px;
  opacity: 0;
  pointer-events: none;
  background-color: red;
  
}
.formulate-input[data-classification="box"] .formulate-input-element-decorator {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0em;
  border: 1px solid #E0E0E0;
  position: relative;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}
.formulate-input[data-classification="box"]
  .formulate-input-element-decorator:before {
  content: "";
  display: block;
  background-size: contain;
  background-position: 100%;
  width: calc(100% - 0.125em);
  height: calc(100% - 0.125em);
  box-sizing: border-box;
  position: absolute;
  top: 0.0625em;
  left: 0.0625em;
}
.formulate-input[data-classification="box"]
  .formulate-input-element[data-type="radio"]
  .formulate-input-element-decorator {
  border-radius: 1em;
  left: 30%;
  right: 30%;
  top: 30%;
  bottom: 30%;
  
}
.formulate-input[data-classification="box"]
  .formulate-input-element[data-type="radio"]
  .formulate-input-element-decorator:before {
  border-radius: 3em;
  width: calc(100% - 0.5em);
  height: calc(100% - 0.5em);
  top: 0.25em;
  left: 0.25em;
}
.formulate-input[data-classification="box"]
  .formulate-input-element
  input[type="checkbox"]:checked
  ~ .formulate-input-element-decorator {
  border-color: #41b883;

}
.formulate-input[data-classification="box"]
  .formulate-input-element
  input[type="radio"]:checked
  ~ .formulate-input-element-decorator {
  border-color: #41b883;
  background: #60C49F;
  box-shadow: 0px 0px 8px rgba(96, 196, 159, 0.5);

  
}
.formulate-input[data-classification="box"]
  .formulate-input-element
  input[type="radio"]:checked
  ~ .formulate-input-element-decorator:before {
  background-color: #f5f5f3;

}
.formulate-input[data-classification="box"] .formulate-input-label--after {
  margin-left: 3em;
  font-size: 15px;
  width: 38px;
  height: 18px;
  left: 34px;
  top: 1px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.06em;
  color: #242424;




}
.formulate-input[data-classification="box"] .formulate-input-label--before {
  margin-right: 10em;
}





